#Title {
    background-color:;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    text-align: center;
}
#Title2 {
    text-align: center;
}
#Header {
    text-align:center
}
#dire {
    text-align: center;
}
